---
import Layout from '../layouts/Layout.astro';
import { TopNav } from "@/components/TopNav";
import Card from '../components/Card.astro';
import '../styles/globals.css';

const navLinks = [
  { title: "Home", href: "/" },
  { title: "Documentation", href: "/docs" },
];

const currentPath = Astro.url.pathname;
---

<Layout title="Elite CS Society">
  <main class="container mx-auto p-8">
  <TopNav links={navLinks} currentPage={currentPath} client:load />
  <br>
  <h1 class="text-4xl font-bold mb-4 underline">Welcome to ECSS</h1>
    <p class="mb-8">
      This is a simple website built with Astro and Tailwind CSS.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <Card
        href="/about"
        title="About"
        body="Learn more about our company and team."
      />
      <Card
        href="/blog"
        title="Blog"
        body="Read our latest blog posts and stay updated."
      />
      <Card
        href="/contact"
        title="Contact"
        body="Get in touch with us for more information."
      />
    </div>
  </main>
</Layout>
