---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { ModeToggle } from '@/components/ModeToggle';
import { TopNav } from '@/components/TopNav';
import '../styles/globals.css';
import type { NavLink } from '../types';
import BentoGrid from "../components/ui/grid"
import RevisedGrids from "../components/ui/frontgrids"

const links: NavLink[] = [
  { title: 'Community', href: '/community' },
  { title: 'Opportunities', href: '/opportunities' },
  { title: 'Projects', href: '/projects' },
];

const currentPath = Astro.url.pathname;
---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>


<Layout title="Elite CS Society">
  <main class="container mx-auto">
  <TopNav client:load />
  <br>
  <!-- <h1 class="text-5xl font-extrabold text-center mb-12">ECSS - Elite CS Society</h1> -->
    <p class="mb-8">
    </p>
  </main>
  <RevisedGrids client:load />
</Layout>

